div.gameboard {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    div.board {
        line-height: 0;
        div.line {
            white-space: nowrap;
            user-select: none;
        }
    }

    div.information {
        margin-left: 3%;
        padding: 1.5%;
        border-radius: 20%;
        background-color:beige;
        white-space: nowrap;
        button {
            margin-top: 5%;
        }
    }

    div.circle {
        border-radius: 50%;
    }
    
    
    div.fab{
        cursor:pointer;
        width: 60px;
        height: 60px;
        position: fixed;
        background-color: pink; 
        right: 30px; 
        bottom: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0;
    }
}