div.gameboard {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 0;
    div.board {
        text-align: center;
        div.line {
            white-space:nowrap;
            user-select: none;
            svg {
                background-size: cover;
                padding: 0%;
                margin: 0%;
            }
        }
    }

    div.information {
        margin-left: 5%;
        background-color: black;
        color: aqua;
    }
}